<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Final Task</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <style type="text/css">
    body {
      background: black;
    }

    div.container {
      max-width: 800px;
      margin: 10px auto;
      border: 20px solid #02d35f;
      border-radius: 12px;
      padding: 10px;
      text-align: center;
      color: white;
      font-family: 'Press Start 2P', cursive;
      font-size: 12pt;
    }

    h4 {
      text-transform: uppercase;
    }
  </style>
</head>

<body>
  <div class="container">
    <h3>DevOps!</h3>
    <h4>Final Project!!!</h4>
    <h4>Student:Volodymyr Ivasiuk!!!!!</h4>
    <img src="{{url}}" />
    <p><small><a href="https://giphy.com/" style="color: red">Gifs From Giphy!</a></small></p>
    <p></p>
    <img src="https://miro.medium.com/max/3964/1*EBXc9eJ1YRFLtkNI_djaAw.png" alt="Dev Ops Image" width="230" height="120">
  </div>
</body>

</html>
